body{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.datedivision{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0px;
    margin-bottom: 0px;
}
.Date{
    font: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    margin-top: 0px;
}
.line2{
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
    margin-top: 0px;
}
.grid{
    display: grid;
    grid-template: 200px/ auto auto auto;
    padding-left: 8px;
    padding-right: 8px;
}
.header{
    font: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-top: 0px;
    padding-right: 10px;
}
.parao{
    padding-right: 10px;
    margin-top: 5px;
}
.line1{
    border-top: 1.5px solid black;
    margin-top: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-top: 350px;
}
.sec{
    padding-left: 10px;
    position: relative;
    bottom: 30px;
    margin-bottom: 0px;
}
.DateTag{
    clip-path: polygon(0 0, 85% 1%, 100% 100%, 0% 100%);
    width: 100px;
    background-color: red;
    position: relative;
    margin-top: 0px;
    top: 25px;
}
.grid2{
    display: grid;
    grid-template: 200px/ auto auto;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 0px;
}
.line3{
    border-top: 1.5px solid black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-top: 250px;
}
.DateTag1{
    clip-path: polygon(0 0, 85% 1%, 100% 100%, 0% 100%);
    width: 100px;
    background-color: red;
}
.last{
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
}
.img{
    padding-left: 10px;
    padding-right: 10px;
}
.grid3{
    display: grid;
    grid-template: 200px/ auto auto auto;
    padding-left: 8px;
    padding-right: 8px;
    grid-column-gap: 20px;
}
.redtext{
    color: red;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin: 10px;
}
.borderone{
    border-top: 1.5px solid black;
    margin-top: 100px;

}
